// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// F O N T S 👇
// — — — — — — —

@font-face {
  font-family: 'IBM Plex Mono';
  src: font-url('ibm-plex-mono.woff2'), font-url('ibm-plex-mono.woff');
}

@font-face {
  font-family: 'Young Serif';
  src: font-url('young-serif.woff2'), font-url('young-serif.woff');
}

// W E L C O M E 👇
// — — — — — — — — —

#welcome {
  height: calc(100vh - 66px);
  width: auto;
}

#welcome-header {
  font-family: 'Young Serif', serif;
  font-size: 7vmin;
}

// #welcome-header:before {
//   content: '\a0';
// }

#welcome-art-div {
  height: auto;
  width: 100%;
}

#welcome-scroll-button-top {
  bottom: 0;
  left: 0;
  display: none;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #welcome-art-div {
    height: auto;
    width: 80%;
  }
}

// A B O U T 👇
// — — — — — — —

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  background-color: #bdf7fb;
  height: 100vh;
  width: auto;
  padding-top: 66px;
}

#about-images-div {
  height: auto;
  width: 80%;
  margin-bottom: 10px;
}

#about-bio-div {
  height: auto;
  width: 80%;
  margin-top: 10px;
}

.about-image {
  filter: grayscale(100%);
}

.about-image:nth-child(2),
.about-image:nth-child(3),
.about-image:nth-child(4),
.about-image:nth-child(5),
.about-image:nth-child(6),
.about-image:nth-child(7) {
  display: none;
}

#about-bio {
  font-size: 0.75rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #about div {
    width: 475px;
  }

  #about-images-div {
    position: relative;
    height: 317px;
    cursor: pointer;
    margin: 0 30px 0 30px;
  }

  #about-bio-div {
    margin: 0 30px 0 30px;
  }

  .about-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s, filter 0.5s, box-shadow 0.5s;
    pointer-events: none;
  }

  .about-image:first-child {
    z-index: 1;
  }

  .about-image:nth-child(2),
  .about-image:nth-child(3),
  .about-image:nth-child(4),
  .about-image:nth-child(5),
  .about-image:nth-child(6),
  .about-image:nth-child(7) {
    display: block;
  }

  #about-images-div:hover .about-image {
    filter: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #about-bio {
    font-size: 1rem;
  }
}

// C O O K I E S 👇
// — — — — — — — — —

#cookies {
  height: 100vh;
  width: auto;
  padding-top: 66px;
}

#cookies-instagram-grid-div {
  height: auto;
  width: 80%;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #cookies-instagram-grid-div {
    height: 80%;
    width: auto;
  }

  .snapwidget-widget {
    height: 100%;
    width: auto;
  }
}

// O R D E R 👇
// — — — — — — —

#order {
  background-color: #f68b5e;
  height: 50vh;
  width: auto;
  padding-top: 66px;
}

// C O N T A C T 👇
// — — — — — — — — —

#contact {
  background-color: #f68b5e;
  height: 50vh;
  width: auto;
}

#contact-social-icons-div {
  background-color: white;
  height: auto;
  width: 100%;
}

.contact-social-icon {
  color: #212529;
}
